nav.container {
font-size: 20px;
}

nav ul li {
    display: inline-block;
}

nav { 
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: #5B5357;
    font-weight: bold;
}

nav ul li a.selected{
    color:#000;
}

header{
    background-image: url("bg2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:5px;
}

h1{
    text-align: center;
}
#picture {
  text-align: center;
}

#picture img {
    max-width:200px;
    border:5px solid #fff;
    border-radius:100%;
}

#picture h1{
    color:#fff;
    font-family: cursive;
    text-shadow: 1px 1px 0px #000;
}

div.container {
  text-align: center;
}

footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #C1B5BB;
  color: #666;
}


div ul li {
    display: inline-block;
    text-align: center;
}

footer div.container{
    font-size: 20px;

}